.hidden
{
visibility: collapse;
}
.mainmenu-vanity-2,
.mainmenu-vanity-3
{
    transform: scale3d( 0.65, 0.65, 1.0 );
    y: -15px;
}

.mainmenu-vanity-4,
.mainmenu-vanity-5
{
    transform: scale3d( 0.80, 0.80, 1.0 );
    
    y: -20px;
}